---
- name: Create deployment directory
  file:
    path: "{{ deploy_path }}"
    state: directory
    mode: '0755'

- name: Create versions directory
  file:
    path: "{{ deploy_path }}/versions/{{ build_version }}"
    state: directory
    mode: '0755'

- name: Copy artifact to remote server
  delegate_to: localhost
  copy:
    src: "{{ provided_artifact_name }}"
    dest: "{{ deploy_path }}/versions/{{ build_version }}/"
    remote_src: no

- name: Extract artifact
  unarchive:
    src: "{{ deploy_path }}/versions/{{ build_version }}/{{ provided_artifact_name }}"
    dest: "{{ deploy_path }}/versions/{{ build_version }}"
    remote_src: yes
    creates: "{{ deploy_path }}/versions/{{ build_version }}/index.html"

- name: Update symlink to current version
  file:
    src: "{{ deploy_path }}/versions/{{ build_version }}"
    dest: "{{ app_symlink }}"
    state: link
    force: yes

- name: Set ownership and permissions
  file:
    path: "{{ deploy_path }}"
    state: directory
    recurse: yes
    owner: www-data
    group: www-data
    mode: '0755'
