<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html/temp-angular/current/browser

    <Directory /var/www/html/temp-angular/current/browser>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/angular_error.log
    CustomLog ${APACHE_LOG_DIR}/angular_access.log combined
</VirtualHost>
