<VirtualHost *:80>
    DocumentRoot /var/www/html/temp-angular/current

    <Directory /var/www/html/temp-angular/current>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
